html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
footer,
header,
nav,
section {
  display: block
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

figcaption,
figure,
main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: 0.35em 0.75em 0.625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details,
menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[hidden] {
  display: none
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px
}

h1 {
  font-size: 48px;
  line-height: 60px
}

p {
  font-family: Georgia, "Times New Roman", serif
}

li {
  font-family: Georgia, "Times New Roman", serif
}

h2 {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #2160a8;
  font-weight: bold
}

h3 {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #2160a8;
  font-weight: bold
}

.btn {
  border: 3px solid #2160a8;
  padding: 10px 30px;
  color: #2160a8;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .05em;
  transition: all .2s ease
}

.btn:hover {
  border-color: #6DA9EE;
  color: #6DA9EE
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%
}

.formphp label.nao-aparece,
.formphp input.nao-aparece {
  display: none !important
}

#form-erro span,
#form-send span {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  display: block
}

#form-send {
  color: #31aa39
}

#form-erro {
  color: #f64540
}

a {
  transition: all .2s ease;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #6DA9EE
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px
}

.header {
  top: 0;
  width: 100%;
  background: #2160a8;
  padding: 16px 0;
  position: absolute
}

.introducao {
  width: 100%;
  height: 400px;
  background: url(../img/bgintro.jpg) no-repeat center;
  background-size: cover;
  margin-top: 83px;
  text-align: center;
  padding-top: 130px
}

.introducao h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold
}

.introducao p:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #fff;
  margin: 10px auto
}

.introducao p {
  color: #fff;
  max-width: 320px;
  margin: 0 auto
}

.sobre {
  width: 100%;
  text-align: center
}

.sobre:after,
.sobre:before {
  margin-bottom: 60px
}

.sobre p:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000;
  margin: 10px auto
}

.sobre p {
  max-width: 320px;
  margin: 20px auto 40px auto
}

.icones_sobre {
  margin-top: 40px
}

.enxoval {
  background: #a2d0f8;
  width: 100%;
  padding: 60px 0;
  text-align: center
}

.topo_enxoval p:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000;
  margin: 10px auto
}

.topo_enxoval p {
  max-width: 320px;
  margin: 0 auto 40px auto
}

.enxoval li h3 {
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #2160a8;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif
}

.lista_enxoval {
  margin: 40px auto 40px auto
}

.lista_enxoval p {
  max-width: 320px;
  margin: 0 auto 40px auto
}

.lista_enxoval p:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000;
  margin: 10px auto
}

.quebra {
  background: url(../img/bgmeio.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 200px
}

.contato {
  margin: 60px auto;
  text-align: center
}

.contato:after,
.contato:before {
  margin-bottom: 60px
}

.topo_contato p {
  text-align: center;
  width: 320px;
  margin: 0 auto 40px auto
}

.topo_contato p:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000;
  margin: 10px auto
}

.form {
  width: 100%;
  padding: 0 40px 0 40px
}

.form input {
  display: block;
  width: 100%;
  border: 3px solid #2160a8;
  padding: 9px 10px;
  margin-bottom: 12px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif
}

.form textarea {
  display: block;
  width: 100%;
  height: 130px;
  border: 3px solid #2160a8;
  padding: 9px 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", serif
}

.form button {
  background: none
}

.dados_contato p+p {
  padding-bottom: 20px
}

.dados_contato p:last-of-type {
  margin-bottom: 20px
}

.empresa {
  background: #a2d0f8;
  width: 100%;
  padding: 60px 0;
  text-align: center
}

.empresa p:first-of-type:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000;
  margin: 10px auto
}

.empresa p {
  max-width: 320px;
  margin: 0 auto 0 auto;
  padding-bottom: 30px
}

.empresa p:last-of-type {
  margin-bottom: -30px
}

.endereco {
  margin: 60px auto;
  text-align: center
}

.endereco:after,
.endereco:before {
  margin-bottom: 60px
}

.endereco p {
  max-width: 320px;
  margin: 0 auto 0 auto;
  padding-bottom: 40px
}

.endereco p:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000;
  margin: 10px auto
}

.mapa {
  padding-bottom: 40px
}

footer {
  width: 100%;
  background: #2160a8;
  padding-top: 20px;
  padding-bottom: 22px
}

.direitos {
  color: #fff;
  text-align: left
}

.made_by {
  color: #fff;
  text-align: right
}

.made_by a {
  color: #fff
}

.made_by a:hover {
  color: #6DA9EE
}

@media only screen and (max-width: 767px) {
  p {
      text-align: center
  }
  h1 {
      font-size: 30px;
      line-height: 35px;
      padding-top: 40px
  }
  .texto_menu {
      text-align: center;
      padding-top: 20px
  }
  .lista_enxoval p {
      margin-top: -20px
  }
  .dados_contato {
      padding-top: 40px
  }
  .form {
      padding: 0;
      width: 100%
  }
  .form input {
      padding: 12px 5px;
      margin-bottom: 15px
  }
  .form textarea {
      height: 140px;
      padding: 12px 5px
  }
  .direitos {
      text-align: center
  }
  .made_by {
      text-align: center
  }
  iframe {
      max-width: 100%
  }
  footer {
      padding-bottom: 0
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  margin-left: 10px;
  margin-right: 10px
}

.grid-1 {
  width: 40px
}

.grid-2 {
  width: 100px
}

.grid-3 {
  width: 160px
}

.grid-4 {
  width: 220px
}

.grid-5 {
  width: 280px
}

.grid-6 {
  width: 340px
}

.grid-7 {
  width: 400px
}

.grid-8 {
  width: 460px
}

.grid-9 {
  width: 520px
}

.grid-10 {
  width: 580px
}

.grid-11 {
  width: 640px
}

.grid-12 {
  width: 700px
}

.grid-13 {
  width: 760px
}

.grid-14 {
  width: 820px
}

.grid-15 {
  width: 880px
}

.grid-16 {
  width: 940px
}

.grid-1-3 {
  width: 300px
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
      width: 768px
  }
  .grid-1 {
      width: 28px
  }
  .grid-2 {
      width: 76px
  }
  .grid-3 {
      width: 124px
  }
  .grid-4 {
      width: 172px
  }
  .grid-5 {
      width: 220px
  }
  .grid-6 {
      width: 268px
  }
  .grid-7 {
      width: 316px
  }
  .grid-8 {
      width: 364px
  }
  .grid-9 {
      width: 412px
  }
  .grid-10 {
      width: 460px
  }
  .grid-11 {
      width: 508px
  }
  .grid-12 {
      width: 556px
  }
  .grid-13 {
      width: 604px
  }
  .grid-14 {
      width: 652px
  }
  .grid-15 {
      width: 700px
  }
  .grid-16 {
      width: 748px
  }
  .grid-1-3 {
      width: 236px
  }
}

@media only screen and (max-width: 767px) {
  .container {
      width: 320px
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-13,
  .grid-14,
  .grid-15,
  .grid-16,
  .grid-1-3 {
      width: 320px;
      margin: 0 0 20px 0;
      float: none
  }
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  margin: 10px 0;
  padding-right: 25px;
  font-size: 2rem;
}

.navbar--icon {
	  font-size: 2rem;
	  margin: 10px 0;
	padding: 10px;
}

.navbar--icon2 {
		  font-size: 2rem;
	  margin: 10px 0;
	padding: 10px 10px 0px 40px;
}

.navbar--icon3 {
		  font-size: 2rem;
	  margin: 10px 0;
	padding: 10px 10px 0px 40px;
}

.texto_menu {
  color: #fff;
}

.texto_menu a {
  color: #fff;
}

.texto_menu a:hover {
  color: #6DA9EE
}

.email_to {
  font-family: Georgia, "Times New Roman", serif;
  text-decoration: underline;
  font-size: 15px;
}

.email_to a {
  color: #000;
  text-decoration: underline;
}

.email_to a:hover {
  color: #6DA9EE
}
